fastapi[standard]
pytest

pydantic_settings

openai
openai-whisper

# PyTorch (do NOT hardcode a platform-specific build here)
# Users Must install the right version manually
# torch
# torchvision
# torchaudio

# ⚠️ PyTorch installation depends on your OS and hardware.
# For Mac (Apple Silicon):
# pip3 install --pre torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/nightly/cpu
# For other platforms, visit: https://pytorch.org/get-started/locally/